* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    background: #d32f2f;
    color: white;
    text-align: center;
    padding: 25px;
}

.header h1 {
    margin: 0;
}

.header p {
    margin-top: 5px;
}

.task-list {
    padding: 20px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4ead7;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border-left: 6px solid #ff8c00;
}

.icon {
    margin-right: 10px;
}

.text {
    flex: 1;
    margin-left: 10px;
}

.status {
    color: #777;
    font-style: italic;
}

.footer {
    text-align: center;
    padding: 15px;
    color: #777;
    font-size: 14px;
}

.done {
    background: #cfe3d4;
    border-left: 6px solid green;
}

.done .text {
    text-decoration: line-through;
    color: #555;
}

.add-task {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.add-task input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.add-task button {
    padding: 10px 15px;
    background: red;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.edit,
.delete {
    background: none;
    border: 2px solid red;
    border-radius: 5px;
    transform: scale(1.2);
    padding: 1%;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
}